.register-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.register-left {
  flex: 1;
}

.register-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 80%;
  max-width: 350px;
  text-align: left;
}

.register-box h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.register-box h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
}

.register-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.register-box button:hover {
  background-color: #333;
}
